html, body {
    /* height: 100%; */
    width: 100vw;
}

body {
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    background-image: url('../images/atc7.jpeg');
    background-size: cover;
    background-position: center center;
}

#HUD {
    position: fixed;
    width: 100vw;
    height: 100%;
    color: rgb(214,224,212);
    font-family: 'VT323', monospace;
    font-weight: bold;
    text-align: right;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto 1rem;
    top: 0px;
}

#title {
    margin-top: 6vh;
    color: rgb(120, 224, 164);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 6vw;
    text-align: center;
    text-shadow: rgba(0,0,0,0.8) 4px 4px;
    text-shadow: rgb(120, 224, 164) 0px  0px 20px;
}

#subtitle {
    color: rgb(12, 159, 191);
    font-family: 'Rubik Mono One', sans-serif;
    font-style: italic;
    font-size: 3.5vw;
    text-align: center;
    text-shadow: rgba(0,0,0,0.8) 4px 4px;
    text-shadow: rgb(12, 159, 191) 0px  0px 15px;
    text-shadow: rgb(214,224,212) 0px 1px 1px, rgb(214,224,212) 1px 1px 1px, rgb(214,224,212) 1px 0px 1px, rgb(214,224,212) 1px -1px 1px, rgb(214,224,212) 0px -1px 1px, rgb(214,224,212) -1px -1px 1px, rgb(214,224,212) -1px 0px 1px, rgb(214,224,212) -1px 1px 1px;
}

hr {
    border-top: 4px solid rgb(199, 62, 72);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 60%;
    text-shadow: rgba(0,0,0,0.7) 4px 4px;
    box-shadow: rgb(199, 62, 72) 0px 0px 4px;
}

#depart-button {
    display: block;
    position: relative;
    width: 240px;
    margin: 20px auto;
    text-align: center;
    color: rgba(238, 202, 262, 0.9);
    font-family: 'VT323', monospace;
    font-size: 2em;
    /* font-weight: bold; */
    background-color: rgba(202, 138, 53, 0.3);
    color: rgba(238, 202, 62, 0.9);
    text-shadow: rgb(238, 202, 62) 0px 0px 10px;
    text-align: center;
    border: 3px solid rgba(202, 138, 53, 0.8);
    box-shadow: rgba(0,0,0,0.7) 4px 4px;
    box-shadow: rgb(202, 138, 53) 0px 0px 20px;
    transition: all .35s;
}

/* #depart-button:focus {
    background-color: rgba(202, 138, 53, 0.7);
    color: rgba(238, 202, 62, 0.9);
    text-shadow: rgb(238, 202, 62) 0px 0px 20px;
    text-align: center;
    border: 3px solid rgba(202, 138, 53, 0.8);
    box-shadow: rgba(0,0,0,0.7) 4px 4px;
    box-shadow: rgb(202, 138, 53) 0px 0px 20px;
} */

#depart-button span{
    position: relative;
    z-index: 2;
  }

#depart-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(202, 138, 53, 0.6);
    transition: all .35s ease-in-out;
 
  }
  
  #depart-button:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #depart-button:hover:after{
    width: 100%;
  }

  #depart-button:active{
    transform: translateX(2px) translateY(2px);
    background: rgba(120, 224, 164, 0.9);

    
  }


#viewport-HUD {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    text-align: right;
    font-family: 'VT323', monospace;
    font-weight: bold;
    color: rgba(214, 224, 212, 0.9)
    
}

/* .current-airport {
    width: 100%;
    text-align: right;
}

.next-airport {
    
} */

#viewport {
    width: 640px;
    max-width: 95%;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/atc8.jpeg');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center center;
    opacity: 90%;
    box-shadow: black 6px 6px;
    border: rgb(214,224,212) solid 2px;
}

#viewport-overlay {
    width: 640px;
    height: 256px;
    position: fixed;
    z-index: 0;
    background: repeating-linear-gradient(to bottom,rgba(54, 38, 0, 0.4), rgba(54, 38, 0, 0.3) 4px, rgba(45, 100, 10, 0.2) 4px, rgba(54, 38, 0, 0.1) 8px);
}

#viewport-background {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-image: url('../images/atc8.jpeg'); */
    background-size: cover;
    opacity: 0.6;
}

/* #viewport-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color:rgb(120, 224, 164);
    font-family:'Courier New',Courier, monospace;
    line-height:0.2rem;
    text-align:right;
} */

#airports {
    margin-top:96px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#airports > .airport {
    width: 32px;
    height: 18px;
    background-color: rgb(120, 224, 164);
}

.airportImg {
    height: 100%;
    mix-blend-mode: screen;
    background-color: rgb(120, 224, 164);
    box-shadow: rgb(120, 224, 164) 2px 2px, rgb(120, 224, 164) 2px 0px, rgb(120, 224, 164) 2px -2px, rgb(120, 224, 164) 0px -2px, rgb(120, 224, 164) -2px -2px, rgb(120, 224, 164) -2px 0px, rgb(120, 224, 164) -2px 2px, rgb(120, 224, 164) -2px 0px;
}

#plane {
    width: 32px;
    height: 32px;
    background-image: url('../images/plane1.jpg');
    background-size: contain;
    position: absolute;
    animation: plane 1s ease-in-out infinite;
    animation-name: plane;
}

#plane::after {
    /* radar ring effect */
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 4px solid rgb(120, 224, 164);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
  }

#message {
    margin: 8px;
    padding: 4px;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    position: absolute;
    width: auto;
    max-width: 98%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid rgb(199, 62, 72);
    border-bottom: 4px solid rgb(199, 62, 72);
    color: rgb(214, 224, 212);
    text-shadow: rgb(214, 224, 212) 0px 0px 7px;
    /* background: linear-gradient(90deg, rgba(12, 159, 191, 0), rgba(214, 224, 212, 0.8), rgba(12, 159, 191, 0)); */
    z-index: 1;
}


@keyframes plane {
    0% {opacity:1}
    30%{opacity:1}
    95% {opacity:0}
    100% {opacity:1}
}

@keyframes ring {
    0% {
        width: 32px;
        height: 32px;
        opacity: 1;
    }
    /* 5% {opacity: 1} */
    100% {
        width: 128px;
        height: 128px;
        opacity: 0;
    }
}

@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:0px}}
.refresh {
    float: left;
    width: 100vw;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
    opacity: 0.2;
    position: fixed;
    bottom: 0;
    animation: refresh 8s linear infinite;
    animation-name: refresh;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes flicker{
    0%{opacity:0.8}
    5%{opacity:0.7}
    10%{opacity:0.9}
    15%{opacity:0.7}
    20%{opacity:0.6}
    25%{opacity:0.8}
    30%{opacity:0.7}
    35%{opacity:0.9}
    40%{opacity:0.6}
    45%{opacity:0.8}
    50%{opacity:0.6}
    55%{opacity:0.8}
    60%{opacity:0.7}
    65%{opacity:0.9}
    70%{opacity:0.7}
    75%{opacity:0.8}
    80%{opacity:0.9}
    85%{opacity:0.7}
    90%{opacity:0.8}
    95%{opacity:0.9}
    100%{opacity:1}
}

@keyframes flickerWeak{
    0%{opacity:0.9}
    10%{opacity:0.8}
    20%{opacity:0.9}
    30%{opacity:0.8}
    40%{opacity:0.9}
    50%{opacity:0.8}
    60%{opacity:0.8}
    70%{opacity:0.9}
    80%{opacity:0.8}
    90%{opacity:0.8}
    100%{opacity:1}
}

.cligno {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: repeating-linear-gradient(90deg,rgba(255,0,0,0.08) 0px 1px,rgba(0,255,0,0.08) 1px 2px ,rgba(0,0,255,0.08) 2px 3px),repeating-linear-gradient(0deg,transparent 0px 1px, rgba(0,0,0,0.4) 1px 2px);
    opacity:0;
    pointer-events:none;
    animation:flicker 0.02s infinite;
}

.cligno-weak-flicker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: repeating-linear-gradient(90deg,rgba(255,0,0,0.08) 0px 1px,rgba(0,255,0,0.08) 1px 2px ,rgba(0,0,255,0.08) 2px 3px),repeating-linear-gradient(0deg,transparent 0px 1px, rgba(0,0,0,0.4) 1px 2px);
    opacity:0.6;
    pointer-events:none;
    animation:flickerWeak 0.02s infinite;
    }