html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    background-image: url(../images/atc2.jpeg);
    background-size: cover;
    background-position: center center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    /* overflow-x: auto; */
    background-size: cover;
    background-position: center center;
    /* background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); */
    box-shadow: black 6px 6px;
    border: yellowgreen solid 1px;
}

#viewport-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(to bottom,rgba(54, 38, 0, 0.4), rgba(54, 38, 0, 0.3) 4px, rgba(45, 100, 10, 0.2) 4px, rgba(54, 38, 0, 0.1) 8px);
}

#viewport-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/atc-map-us.jpeg);
    background-size: cover;
    opacity: 0.5;
}

#viewport-content {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 1em;
    color:yellowgreen;
    font-family:'Courier New',Courier, monospace;
    line-height:0.2rem;
    text-align:right;
}






@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:0px}}
.refresh {
float: left;
width: 100vw;
height: 100px;
z-index: 8;
background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
opacity: .1;
position: fixed;
bottom: 0;
animation: refresh 8s linear infinite;
animation-name: refresh;
animation-duration: 8s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
}

@keyframes flicker{
0%{opacity:0.5}
5%{opacity:0.7}
10%{opacity:0.9}
15%{opacity:0.5}
20%{opacity:0.4}
25%{opacity:0.4}
30%{opacity:0.3}
35%{opacity:0.5}
40%{opacity:0.6}
45%{opacity:0.5}
50%{opacity:0.3}
55%{opacity:0.4}
60%{opacity:0.7}
65%{opacity:0.9}
70%{opacity:0.7}
75%{opacity:0.4}
80%{opacity:0.5}
85%{opacity:0.7}
90%{opacity:0.6}
95%{opacity:0.9}
100%{opacity:1}
}

.cligno {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 2;
background: repeating-linear-gradient(90deg,rgba(255,0,0,0.08) 0px 1px,rgba(0,255,0,0.08) 1px 2px ,rgba(0,0,255,0.08) 2px 3px),repeating-linear-gradient(0deg,transparent 0px 1px, rgba(0,0,0,0.4) 1px 2px);
opacity:0;
pointer-events:none;
animation:flicker 0.02s infinite;
}